@use "../../style/form.scss";
@use "../../style/base";
.times {
	@extend %box;
	display: flex;
	padding: 1rem;
	margin: 2rem;
	justify-content: space-evenly;
	align-items: center;
	input {
		@extend %input;
		width: auto;
	}
	button {
		@extend %button;
		width: auto;
	}
}
