.main {
	margin: auto;
	min-width: 80%;
	border-radius: 1rem;
	text-transform: capitalize;
	text-align: center;
	border-collapse: collapse;
	p {
		padding: 1rem;
	}
	th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #08778a;
		color: white;
	}
	td,
	th {
		text-align: center;
		border: 1px solid #ddd;
	}
	tr:nth-child(even) {
		background-color: #f2f2f2;
	}
	tr:hover {
		background-color: #ddd;
	}
	button {
		width: 100%;
		background-color: #08778a;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		&:hover {
			background-color: lighten($color: #1946d9, $amount: 10);
		}
	}
}

.innerTable {
	@extend .main;
	width: 100%;
	height: 100%;
}
