@use "../../style/base";
.main {
	visibility: hidden;
	min-width: 5rem;
	background-color: base.$strong;
	color: white;
	text-align: center;
	border-radius: 1rem;
	padding: 1rem;
	position: fixed;
	bottom: 2rem;
	z-index: 1;
	left: 50%;
	translate: -50%;
}

.visible {
	visibility: visible;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
