.main {
	visibility: hidden;
	min-width: 5rem; /* Set a default minimum width */
	background-color: #333; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 1rem; /* Rounded borders */
	padding: 1rem; /* Padding */
	position: fixed; /* Sit on top of the screen */
	bottom: 2rem; /* 30px from the bottom */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	translate: -50%;
}

.visible {
	visibility: visible;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
