@use "../style/style.scss" as *;
body {
	background-color: black;
}
.app {
	color: white;
}

.tableHeaders {
	width: 100wh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 2rem;
	text-transform: capitalize;
}

.tableView {
	width: 100wh;
	display: flex;
	flex-direction: row;
	text-align: center;
	div {
		flex-grow: 1;
	}
	.taskView {
		border: solid white 2px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		div {
			border: dotted white 1px;
		}
	}
}
