@use "../style/style.scss" as *;

$white: #ffffff;
$lightest: #9ab8da;
$mid-tone: #4e82be;
$mid-dark: #2d527b;
$darkest: #142437;

body {
	background-color: $darkest;
}
.app {
	color: $lightest;
	margin: 5rem;
}

.tableHeaders {
	width: 100wh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 2rem;
	text-transform: capitalize;
}

.tableView {
	width: 100wh;
	display: flex;
	flex-direction: row;
	text-align: center;
	border: solid $mid-dark 5px;
	border-radius: 5px;
	.taskView {
		flex-grow: 1;
	}
	.shiftView {
		border: solid $mid-dark 2px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		div {
			flex-grow: 1;
			margin: 0.5rem;
			border: solid $lightest 0.2rem;
			border-radius: 1rem;
			background-color: $mid-dark;
		}
	}
}
