$white: #ffffff;
$lightest: #9ab8da;
$mid-tone: #4e82be;
$mid-dark: #2d527b;
$darkest: #142437;

body {
	background-color: $darkest;
}
.app {
	color: $lightest;
	margin: 5rem;
}

.header {
	font-size: 2rem;
	text-transform: capitalize;
}

.tableHeaders {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	:first-child {
		flex-grow: 1;
	}
	* {
		flex-grow: 2;
	}
}

.tableView {
	width: 100wh;
	display: flex;
	flex-direction: row;
	text-align: center;
	border: solid $mid-dark 5px;
	border-radius: 5px;
	.taskView {
		flex-grow: 1;
	}
	.shiftView {
		outline: solid $mid-dark 2px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		div {
			flex-grow: 1;
			margin: 0.5rem;
			border: solid $lightest 0.2rem;
			border-radius: 1rem;
			background-color: $mid-dark;
		}
	}
}

.timeLine {
	display: flex;

	hr {
		background-color: $lightest;
		border: none;
		height: 0.2rem;
		margin: calc(1rem - 0.2rem) 0;
		width: 3rem;
		&:nth-child(1) {
			margin: 0;
		}
		&:nth-child(5n + 1) {
			width: 8rem;
		}
	}
}
