@use "../../style/base";
.navbar {
	font-size: 1.1rem;
	font-weight: 700;
	text-transform: capitalize;
	border-radius: 0.5rem;
	background-color: base.$medium;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	gap: 1rem;
	img {
		height: 1.1rem;
	}
	span {
		padding-right: 1rem;
		border-right: solid gray 1px;
		a {
			color: white;
			padding: 0.5rem;
			text-shadow: 1px 1px 2px #222;
			&.activeLink {
				background-color: lighten($color: base.$medium, $amount: 7);
				border-radius: 0.5rem;
				// box-shadow: inset 1px 1px 5px -2px #222;
				// color: base.$;
			}
		}
	}
	p {
		margin: 0;
	}
}
