@use "../../style/base";
.navbar {
	font-size: medium;
	font-weight: 700;
	text-transform: capitalize;
	border-radius: 0.5rem;
	background-color: base.$medium;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	gap: 0.5rem;
	img {
		mix-blend-mode: multiply;
		height: 1rem;
	}
	a {
		padding-right: 0.5rem;
		border-right: solid gray 1px;
		color: white;
	}
	p {
		margin: 0;
	}
}
