%button {
	text-align: center;
	width: 100%;
	background-color: #08778a;
	color: white;
	padding: 1rem;
	margin: 1rem 0;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	&:hover {
		background-color: lighten($color: #1946d9, $amount: 10);
	}
}

%input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
