@use "base";
.main {
	@extend %box;
	background-color: base.$light;
	border: solid #ddd 1px;
	border-radius: 0.5rem;
	padding: 1rem;
	max-width: 20rem;
	text-transform: capitalize;
	margin: auto;
	margin-top: 1rem;
	text-transform: capitalize;
	font-size: medium;
	label {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	input {
		@extend %input;
	}
	input[type="submit"] {
		@extend %button;
	}
	select {
		@extend %input;
		background-color: white;
	}
}
