@use "base";
.main {
	text-transform: capitalize;
	margin: auto;
	margin-top: 1rem;
	width: 70%;
	text-transform: capitalize;
	font-size: medium;
	label {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	input {
		@extend %input;
	}
	input[type="submit"] {
		@extend %button;
	}
}
