@use "./base";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

:root {
	font-family: "Open Sans", sans-serif;
}

body {
	background: base.$cream;
}

* {
	transition: all 0.5s ease;
}

a {
	text-decoration: none;
}
