@use "./base";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

:root {
	font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
	width: 0.25rem;
	&:hover {
		width: 1rem;
	}
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
	&:hover {
		background: #555;
	}
}

body {
	background: base.$cream;
}

* {
	transition: all 0.5s ease;
}

a {
	text-decoration: none;
}
