@use "../../style/base";
.main {
	margin-top: 1rem;
	.headers {
		display: flex;
		justify-content: space-around;
		font-size: large;
		text-decoration: underline;
	}
	.column {
		display: flex;
		.task {
			flex-grow: 1;
			.shift {
				background-color: base.$light;
				@extend %box;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				text-align: center;
				overflow: hidden;
				.person {
					@extend %box;
					background-color: white;
					display: flex;
					flex-direction: row;
					align-items: center;
				}
			}
		}
	}
}
