@use "../../style/base";

.main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.navbar {
	display: flex;
	width: 100%;
	padding: 0.7rem;
	justify-content: space-around;
	border-bottom: solid #ddd 1px;
	gap: 1rem;
	a {
		@extend %button;
		padding: 0.7rem;
		&.activeLink {
			filter: brightness(120%);
			translate: 0 1rem;
		}
	}
}
